version: '3'

services:
  redis:
    image: redis:latest
    command: redis-server
    ports:
      - '6379:6379'
  web:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/backend
    ports:
      - "8000:8000"
  channels:
    build: ./backend
    command: daphne -b 0.0.0.0 -p 8001 backend.backend.asgi:application
    volumes:
      - ./django_channels:/django_channels
    ports:
      - "8001:8001"
    links:
      - redis
